@import url('https://fonts.googleapis.com/css?family=Open+Sans');
 
@font-face {
    font-family: "Neou";
    src: url("../fonts/Neou-Thin.otf");
}

h1 {
    font-family: "Neou";
    font-size: 50px;
    text-align: center;
    letter-spacing: 2px;
}

h2 {
    letter-spacing: 2px;
/*    color: #B0D9E8;*/
}

::selection {
    background-color: #B0D9E8;
    color: #FFF;
}
::-webkit-scrollbar {
     height: 4px;
     width: 10px;
     background: #FFFFFF;
 }
 ::-webkit-scrollbar-thumb {
     border-radius: 10px;
     background: #B0D9E8;
     border: 1px solid #FFFFFF;
 } 

body {
     font-family: Open Sans;
     font-size: 14px; 
     color: #3E3F3C;
}

hr {
    margin-top: -30px; 
    margin-bottom: 30px;
    width: 100px;
}

#landing {
    background-image: url("../img/grid.png"); 
    position: absolute;
    top: 0; left:0; height: auto; width: 100%;
    text-align: center;
}


#navlinks{
    line-height: 40px;
    text-align:  left;
    width: 60%;
    margin-left: 2%;
    display: inline-block;
    float: left;
}
#navlinks a {
    border-radius: 7px;
    text-decoration: none;
    color: #B3D7E8;
    padding: 5px 5px 5px 7px;
    margin: 5px;
    letter-spacing: 2px;
}

#navlinks a:nth-child(1), #navlinks a:hover {
    transition: 500ms all ease-in-out;
    color: #fff;
    background-color: #B3D7E8;
}

#navicons {
    margin-right: 2%;
    width: 30%;
    display: inline-block;
    text-align: right;
    height: 40px;
    float: right;
}

#navicons img {
    width: 30px;
    padding: 5px;
}

#navicons img:hover {
    transition: 500ms all ease-out;
    -webkit-animation:spin 500ms linear;
    -moz-animation:spin 500ms linear;
    animation:spin 500ms linear;   
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
           
#book {
     text-align: center;
     color: #545454;
     width: 75%;
     display: block;
     margin: 0 auto;
}

.cimg {
    height: 500px;
    border-radius: 3px;
    border: 1px solid #C2C2C2;
    box-shadow: -2px 1px 2px #e6e6e6;
    width: 49%;
    float: left;
    overflow: hidden;   
}

.content {
     background-color: white;
     height: 500px;
     border-radius: 3px;
     border: 1px solid #C2C2C2;
     border-left: none;
     box-shadow: 2px 1px 2px #e6e6e6;
     width: 49%;
     float: left;
     overflow: auto;
     overflow-x: hidden;
}

.content img {
     margin-top: 7%;
     width: 70%;
}
.content p {
     margin-left: 10%;
     width: 80%;
     letter-spacing: 0.4px;
}

/*
.content p:first-letter {
     width: 25px;
     height: 25px;
     padding: 5px;
     margin-bottom: 0px;
     margin-right: 4px;
     float: left;
     background-color: #B0D9E8;
     border: 3px double white;
     color: white;
     font-size: 28px;
     line-height: 20px;
     text-transform: uppercase;
     text-align: center;
 }
*/

#projects {
    background-image: url("../img/geometry.png");
}

#designsTable table {
    display: table;
    border-collapse:separate; 
    border-spacing:10px;
}

#designsTable img{
    width: 100%;
}


.view {
   margin: 10px;
   border: 10px solid #fff;
   background: #FFF;
   overflow: hidden;
/*   overflow-x: hidden;*/
   position: relative;
   text-align: center;
   box-shadow: 2px 1px 2px #e6e6e6;
}

.projBox {
   width: 70%;
   margin-left: 15%;
}

.projBox .mask, .projBox img {
   width: 100%;
}

.view a {
    border-radius: 7px;
    text-decoration: none;
    color: #fff;
    background-color: #B3D7E8;
    padding: 5px 5px 5px 7px;
    margin: 5px;
    letter-spacing: 2px;
}

.view a:hover {
    color: #B3D7E8;
    background: none;
    transition: 200ms all ease-in-out;
}
.view .mask,.view .content {
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

.projBox img {
   transition: all 0.3s ease-in-out;
}

.projBox .mask {
   height: 1000px;
   background: url("../img/grid.png");
   transform: translateX(-500px);
   opacity: 1;
   transition: all 0.3s ease-in-out;
}

.projBox:hover .mask {
   transform: translateX(0px);
}
.projBox:hover img {
   transform: translateX(500px);
}

.maskText {
    margin-left: 5%;
    width: 90%;
    overflow-x: auto;
}


@media only screen and (max-width:850px) {
    h1 {
        font-size: 40px;
    }
    
    .cimg, .content {
        height: 400px;
    }
    .view {
       border: 5px solid #fff;
    }
}

@media only screen and (max-width:440px) {
    h2,body {
        font-size: 11px;
    }
    
    #projects td, .projimg img {
        width: 140px;
    }
}

#designs {
    background: url("../img/grid.png");
}

#designsContent {
    width: 100%;
    align-items: center;
}

#designsContent img {
    display: block;
    margin: 0 auto;
}

#designsContent img:hover {
    transition: 200ms ease-in-out;
    opacity: 0.9;
}

.padding {
    clear: both;
    height: 20px !important;
}


@viewport {
  width: device-width;
  zoom: 1;
}